<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<a href="/intershop/cart" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/intershop" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<div th:if="${#lists.isEmpty(orders)}">
    <p>У вас пока нет заказов.</p>
    <a href="/intershop">Начните покупать</a>
</div>
<div th:each="order : ${orders}" style="margin: 20px auto; width: 70%;">
    <a th:href="${'/intershop/orders/' + order.id}">
        <h2 th:text="${'Заказ №' + order.id}"></h2>
    </a>
    <table>
        <tr th:each="item : ${order.orderItems}">
            <td>
                <table>
                    <tr>
                        <td>
                            <a th:href="${'/intershop/item/' + item.product.id}">
                                <img width="300" height="300" th:src="@{/intershop/products/{id}/image(id=${item.product.id})}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><b th:text="${item.product.name}"></b></td>
                        <td><b th:text="${item.quantity + ' шт.'}"></b></td>
                        <td><b th:text="${item.price.multiply(item.quantity) + ' руб.'}"></b></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h3 th:text="${'Сумма: ' + order.totalAmount + ' руб.'}"></h3>
            </td>
        </tr>
    </table>
</div>
</body>

</html>